li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


body {
  font-family: 'Cabin', sans-serif;
}

h1,h2,h3 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.jumbotron {
  background: url('/assets/img/burger-mania-bg.jpg');
  background-size: cover;
  padding: 10rem 2rem;
  color: #fff;
}

div#burger-list {
  margin-top: 40px;
  margin-bottom: 80px;
}

div#must-eat {
  background: #dd3333;
  color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #dd3333;
  border-color: #dd3333;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn {
  border-radius: .15rem;
}